.headline{
overflow: hidden;
text-align: center;
font-size: 2em;
padding-bottom: 20px;
padding-top: 40px;
}
.headline > span{
position: relative;
display: inline-block;
}
.headline > span:before, .headline > span:after{
content: '';
position: absolute;
top: 50%;
border-bottom: 2px solid #d2d2d2;
width: 592px; /* half of limiter */
margin: 0 20px;
}
.headline > span:before{
right: 100%;
}
.headline > span:after{
left: 100%;
}
