body {
  background: #eee;
}

.projects, .message, .volunteering {
  background: #eee;
}

.cards-wrapper, .message-wrapper, .bullets-wrapper {
  @include outer-container;
}

.hero-picture {
  height: 100px;
  border-radius: 50%;
  border: 2px solid #eee;
}

.hero-copy {
  p {
    margin-bottom: 0;
  }
}

.button {
  color: white;
  background-color: $green;
  padding: $small-spacing $base-spacing;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color $base-duration $base-timing;

  &:hover,
  &:focus {
    background-color: shade($green, 20%);
    color: #fff;
  }
}

