#main {
  @include outer-container;
}

.blog-wrapper {
  @include span-columns(8);
  @include shift(2);

  p {
    font-family: $blog-base-font-family;
    line-height: 1.9rem;
    font-size: 1.2em;
    margin: 1.5em  0 1.5em;
  }
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}
